@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}
@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.fc {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.fc-license-message {
    display: none;
}

.fc .fc-daygrid-day-top {
    color: rgb(60, 64, 67);
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin-top: 4px;
}

.fc-col-header-cell-cushion {
    color: #70757a;
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}

.fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
    color: #70757a;
    font-size: 10px;
    -webkit-font-smoothing: subpixel-antialiased;
}

th.fc-col-header-cell.fc-day,
.fc thead .fc-theme-standard th {
    border-bottom: 0;
}

.fc .fc-timegrid-axis-cushion {
    display: none;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: transparent;
}

td.fc-timegrid-divider.fc-cell-shaded {
    height: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.fc-theme-standard td,
.fc-theme-standard th {
    border-color: rgb(218, 220, 224);
}

.fc-timegrid-slot {
    /* background-color: white; */
}

.fc-h-event {
    background-color: #efefef;
    border: #efefef;
    border-radius: 4px;
}

.fc-h-event .fc-event-title-container {
    height: 22px;
    padding: 0 8px;
    line-height: 20px;
    color: rgb(60, 64, 67);
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
}

.fc-multimonth-daygrid .fc-daygrid-day-number {
    border-radius: 50%;
    /* aspect-ratio: 1/1; */
    /* padding: 0.25rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 10px; */
}

.fc-multimonth-daygrid .fc-daygrid-day-number:hover {
    background-color: #f0f2f5;
    /* aspect-ratio: 1/1; */
    cursor: pointer;
}

.fc-day-today .fc-daygrid-day-number {
    color: #fff;
    background-color: rgb(26, 115, 232);
    border-radius: 50%;
    max-width: fit-content;
    padding: 0.25rem;
    display: flex;
    min-width: 26px;
    min-height: 26px;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.fc-day-today .fc-daygrid-day-number:hover {
    background-color: rgb(183, 203, 234);
}

.fc-multimonth-title {
    font-weight: 500 !important;
    text-align: left !important;
    letter-spacing: 0.25px;
    line-height: 20px;
    color: #70757a;
    font-size: 15px !important;
    text-transform: capitalize;
    margin-left: 1.25rem;
}

.fc {
    height: 100%;
    border-left: 0;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
}

.fc-theme-standard .fc-scrollgrid {
    border: 0;
}

.fc .fc-multimonth {
    border: 0;
}

.fc-multimonth-header-table th,
.fc-multimonth-daygrid td {
    border: 0 !important;
}

.mini-calendar .fc-theme-standard th,
.mini-calendar .fc-theme-standard td {
    border: 0;
}

.mini-calendar .fc-daygrid-day-number:hover {
    border-radius: 999px;
    background-color: #f0f2f5;
    cursor: pointer;
}
.mini-calendar .fc-day-today .fc-daygrid-day-number:hover {
    background-color: rgb(57, 134, 235);
}

.mini-calendar .fc-daygrid-day-number {
    font-size: 10px;
    min-width: 24px;
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-calendar .fc-daygrid-day-frame {
    aspect-ratio: 1 / 1;
}

.mini-calendar *,
header *,
.fc * {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.fc .fc-daygrid-body-balanced .fc-daygrid-day-events {
    display: none;
}

#scrollable-content,
aside,
.btn-event-add {
    transition: all 0.2s;
}
